@import '../../styles/variables.scss';

.actionLink {
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.6rem;
  position: relative;
  font-family: $fonts-fancy;
  line-height: 1.6;

  svg {
    width: 2.4rem;
    height: 14px;
    position: relative;
    top: 1px;
    align-self: flex-end;
  }
}

.left {
  left: -8px;
}
