.postFeed {
  display: grid;
  gap: 6.4rem;
  grid-template-columns: repeat(3, 1fr);
}

.posts {
  grid-column-start: span 2;
}

.categories {
  grid-column-start: span 1;
}

@media screen and (max-width: 850px) {
  .postFeed {
    grid-template-columns: 1fr;
  }

  .posts {
    grid-column-start: 1;
  }

  .categories {
    grid-column-start: 1;
  }
}
