.featuredContent {
  display: grid;
  margin-bottom: 2.4rem;
  gap: 2.4rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'first first bioCard' 'featured-1 featured-2 featured-3';

  @media screen and (max-width: 850px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'first first' 'bioCard featured-1' 'featured-2 featured-3';
  }

  @media screen and (max-width: 640px) {
    grid-template-columns: 1fr;
    grid-template-areas: 'first' 'bioCard' 'featured-1' 'featured-2' 'featured-3';
  }
}
