html {
  font-size: 62.5%;
}

body {
  font-family: $fonts-base;
  color: $text-color;
  font-size: 1.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fonts-fancy;
  font-weight: 600;
}

a {
  color: $brand-dark;
}

p {
  line-height: 1.5;
}
