// Colors

$black: #151a1f;
$baseDark: #21272f;
$lightBlue: #90b5ea;
$strongBlue: #2275d3;
$softDark: #464f5c;

$text-color: #373737;
$brand-dark: #415065;
$navy: #5a6f8c;
$gray: #d8d8d8;
$light-gray: #dcdcdc;
$soft-gray: #f5f5f5;
$body-bg: #fff;
$selection-bg: #04a4cc;
$darkGradientEnd: $softDark;
$darkGradientStart: $baseDark;

// Wrapper

$wrapper-width: 1200px;
$wrapper-width-content: 900px;
$wrapper-width-thin: 680px;

// Fonts

$fonts-base: "Source Sans Pro", Arial, Helvetica, sans-serif;
$fonts-fancy: "Libre Baskerville", $fonts-base;
