@import '../../styles/variables.scss';

.category {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  position: relative;
  z-index: 1;
  text-decoration: none;
}

.readOnly {
  color: $brand-dark;
}
