@import '../../styles/variables.scss';

.wrapper {
  margin: 0 auto;
  position: relative;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  width: 100%;

  &.full {
    max-width: 100%;
  }

  &.wrap {
    max-width: $wrapper-width;
  }

  &.content {
    max-width: $wrapper-width-content;
  }

  &.thin {
    max-width: $wrapper-width-thin;
  }
}

.chunk {
  margin: 0;
  padding: 0;

  &.white {
    background-color: white;
  }

  &.gray {
    background-color: $soft-gray;
  }

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }

  &.center {
    text-align: center;
  }
}

.padX {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

.bigY {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
