@import "../../styles/variables.scss";

.postList {
  list-style-type: none;
  padding: 0;
  margin: 0;

  &.plain {
    li {
      padding: 4rem 0;
      border-bottom: 1px solid $light-gray;
    }

    h3 {
      margin: 1.6rem 0 0;
      font-size: 2.4rem;

      a {
        text-decoration: none;
        color: $black;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &.featured,
  &.first {
    display: grid;
    gap: 2.4rem;
    grid-template-columns: 1fr 1fr 1fr;

    li {
      position: relative;
      height: 400px;
      overflow: hidden;
      border-radius: 4px;
      transition: transform 300ms ease;

      &:hover {
        transform: scale(1.025);
      }
    }

    a {
      color: white;
      display: block;
      height: 100%;
      width: 100%;
      padding: 2.4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      text-decoration: none;

      h3 {
        position: relative;
        font-size: 2.4rem;
        z-index: 1;
      }

      &:after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background: -webkit-gradient(
          linear,
          left bottom,
          left top,
          from(rgba(0, 0, 0, 0.7)),
          to(transparent)
        );
        background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.7) 0%,
          transparent 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
      }
    }
  }
}
