@import '../../styles/variables.scss';

.header {
  position: relative;
  background-color: white;
  display: flex;
  width: 100%;
  align-items: center;
  z-index: 1;
}

.logo {
  flex: 1;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.nav {
  flex: 1;
  text-align: right;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;

    &:last-of-type a {
      padding-right: 0;
      margin-right: 0;
    }
  }

  a {
    text-decoration: none;
    color: $black;
    font-size: 1.6rem;
    padding: 0.8rem;
    margin: 0 1rem;
  }
}
