@import '../../styles/variables.scss';

.header {
  position: relative;
  // background-color: white;
  display: flex;
  width: 100%;
  align-items: center;
  z-index: 1;
}

.logo {
  flex: 1;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.nav {
  flex: 1;
  text-align: right;
  font-family: $fonts-fancy;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    margin: 0;
  }

  a {
    position: relative;
    text-decoration: none;
    color: $black;
    font-size: 1.6rem;
    padding: 0.8rem 0;
    margin-left: 3.2rem;
    transition: color 300ms ease;

    &:hover,
    &:focus,
    &.active {
      color: $strongBlue;

      &:after {
        width: 100%;
        background-color: $strongBlue;
      }
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $black;
      transition: width 300ms ease, background-color 300ms ease;
    }
  }
}
