@import '../../styles/variables.scss';

.newsletterForm {
  // padding: 3.2rem;
  // background-color: white;
  // border-radius: 6px;
  // box-shadow: 0 0 10px -4px $gray;
  // width: 100%;

  @media screen and (max-width: 640px) {
    padding: 2.4rem;
  }

  p {
    margin-bottom: 0;
  }

  :global .mc-field-group {
    position: relative;
  }

  label {
    display: inline-block;
    cursor: text;
    position: absolute;
    background-color: transparent;
    padding: 0 0.8rem;
    top: 1.2rem;
    left: 0.4rem;
    color: #757575;
    transform: translateY(0) translateX(0);
    transition: transform 100ms ease, font-size 100ms ease,
      background-color 100ms ease, color 100ms ease;
  }

  input[type='email'] {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    border: 1px solid $gray;
    border-radius: 4px;
    outline: none;
    margin-bottom: 0.8rem;

    &:focus + label,
    &:valid + label,
    &:not(:placeholder-shown) + label {
      transform: translateY(-2rem) translateX(0.4rem);
      font-size: 1.4rem;
      background-color: white;
      color: $black;
    }
  }

  button {
    background-color: $strongBlue;
    color: white;
    border-radius: 4px;
    width: 100%;
    border: none;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 200ms ease;

    &:hover {
      background-color: darken($strongBlue, 5%);
    }

    &:active {
      background-color: darken($strongBlue, 10%);
    }
  }
}
