.stateMap {
  width: 100%;
  margin: 3.2rem 0;
}

ellipse {
  opacity: 0;
}

.jackson {
  animation: pop 1s forwards 0.75s;
  transform-origin: 348px 254px;
}

.memphis {
  animation: pop 1s forwards 2.75s;
  transform-origin: 349px 215px;
}

.slo {
  animation: pop 1s forwards 4.75s;
  transform-origin: 23px 181px;
}

.nyc {
  animation: pop 1s forwards 6.75s;
  transform-origin: 502px 117px;
}

.jackToMem {
  animation: draw 1s forwards 2s;
  stroke-dasharray: 40px;
  stroke-dashoffset: 40px;
}

.memToSlo {
  animation: draw 1s forwards 4s;
  stroke-dasharray: 330px;
  stroke-dashoffset: 330px;
}

.sloToNyc {
  animation: draw 1s forwards 6s;
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
}

@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
